*{
	
}

.nav {
	width: auto;
	height: auto;
	background-color: #F8F8F6;
}
div.new0705{
	
	margin-left:200px;
	width:66%;
	background:#F8F8F6;
	margin-bottom:200px;
}
.tab-content{
	
}
div.new0705 div.tab-content div.daohang a{
	
}